*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-block-size: 100dvb;
  margin: 0;
  padding: 2em;
  color: #ffc802;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #5f0dee;
}

h1 {
  margin: 0;
  color: transparent;
  font-size: clamp(2.5rem, 0.5rem + 7vi, 6.25rem);
  text-transform: uppercase;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-wrap: balance;
  -webkit-text-stroke: 2px #ffc802;
}

h1::selection {
  color: #ffc802;
  background-color: #6dc1fd;
}
